body {
    font-family:"Libre Baskerville";
    color: darkgoldenrod;
    background-color:white;
}
h1,{
    font-family: Alkatra;
    font-size:100pt:
}

header {
    text-align: center;
    border: 3px solid black;
    border-color: darkgoldenrod;
    padding: 1px;
    background-color:black;
}

#hero {
    text-align: center;
}

#hero img{
    text-align: center;
}

#reviews {
    background-color: black;
    text-align: center;
    margin-bottom: 2rem;
    max-width:100% ;
}

#reviews img {
    max-width: 100%;
}

#websites {
    text-align: center;
}

#footer {
    text-align: center;
    border: 2px solid darkgoldenrod;
    margin-bottom: 2rem;
}
